@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background-color: #f5f0f0;
    color: black;
    overflow-x: hidden;
}


.container {
    max-width: 1440px;
    width: 98%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}


/* header .top-strip{
    
}    */

p {
    font-size: 14px;
    line-height: 25px;
}

::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

::-webkit-scrollbar-thumb {
    background: #ff5252;
}

::-webkit-scrollbar-track {
    background: #fff;
}

.link:hover {
    color: #ff5252
}

.searchBox input::placeholder {
    color: #373737 !important;
}

.MuiBadge-badge {
    background-color: #ff5252 !important;
}

nav button {
    text-transform: capitalize !important;
    color: black !important;
}

nav button:hover {
    text-transform: capitalize !important;
    color: #ff5252 !important;
}

.categoryPanle {
    text-transform: capitalize !important;
}

/* .categoryPanle .submenu{
    display: none;
} */

.nav li .submenu {
    visibility: hidden;
    z-index: 1000;
}

.nav li:hover .submenu {
    opacity: 1;
    visibility: inherit;
}

.nav li .submenu li .submenu {
    visibility: hidden;
}

.nav li:hover .submenu li:hover .submenu {
    opacity: 1;
    visibility: inherit;
}

.sliderHome {
    overflow: inherit !important;
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    min-width: 45px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 30px !important;
    color: black;
}

.homeCatSlider {
    overflow: inherit !important;
}

.homeCatSlider .swiper-button-prev {
    width: 30px;
    height: 30px;
    min-width: 30px;
    left: -10px;
    overflow: inherit !important;
}

.homeCatSlider .swiper-button-prev:after {
    font-size: 18px !important;
}

.smlBtn .swiper-button-prev,
.smlBtn .swiper-button-next {
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.smlBtn .swiper-button-prev::after,
.smlBtn .swiper-button-next::after {
    font-size: 18px !important;
}

.homeCatSlider .swiper-button-next {
    width: 30px;
    height: 30px;
    min-width: 30px;
    right: -10px;
}

.homeCatSlider .swiper-button-next:after {
    font-size: 18px !important;
}

.homeCatSlider .swiper-button-prev:hover,
.homeCatSlider .swiper-button-next:hover {
    background: #ff5252 !important;
}

.homeCatSlider .swiper-button-prev:hover:after,
.homeCatSlider .swiper-button-next:hover:after {
    color: white !important;
}

.homeCatSlider .item:hover img {
    transform: scale(1.1);
}

.MuiTabs-indicator {
    background-color: #ff5252 !important;
}

.MuiTab-textColorPrimary.Mui-selected {
    color: #ff5252 !important;
}

.productItem .title {
    line-height: 18px;
}

.productItem .actions button:hover svg {
    pointer-events: none !important;
}


.MuiCheckbox-root.Mui-checked {
    color: #ff5252 !important;
}

.MuiCheckbox-root:hover {
    background-color: transparent !important;
}

.MuiCheckbox-root {
    padding: 6px !important;
}

.sidebar .scroll {
    max-height: 210px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar .scroll::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

.sidebar .scroll::-webkit-scrollbar-thumb {
    background: #ccc !important;
}

.ReactCollapse--collapse {
    transition: height 400ms;
}

.range-slider .range-slider__thumb {
    width: 14px !important;
    height: 14px !important;
}

.range-slider {
    height: 3px !important;
}

.range-slider .range-slider__thumb,
.range-slider .range-slider__range {
    background: #ff5252 !important;
}

.itemviewActions button.active svg {
    color: #ff5252 !important;
    opacity: 1;
}


.Mui-selected.MuiPaginationItem-page {
    background: #ff5252 !important;
    color: #fff !important;
}

.zoomProductSliderThumbs .swiper-slide {
    height: auto !important;
}

.zoomProductSliderThumbs .swiper-button-next {
    bottom: 0px !important;
    right: inherit !important;
    top: inherit !important;
    width: 100% !important;
    height: 30px !important;
    border-radius: 0px;
}

.zoomProductSliderThumbs .swiper-button-prev {
    top: 19px !important;
    left: 0 !important;
    width: 100% !important;
    height: 30px !important;
    border-radius: 0px;
}

.zoomProductSliderThumbs .swiper-button-prev:hover,
.swiper-button-next:hover {
    background: #ff5252 !important;
}

.zoomProductSliderThumbs .swiper-button-prev:after,
.zoomProductSliderThumbs .swiper-button-next:after {
    transform: rotate(90deg);
}

.productContent .actions .button {
    min-width: 40px !important;
    height: 30px !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: rgba(0, 0, 0, 0.70) !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.reviwescroll::-webkit-scrollbar {
    width: 5px !important;
}

.reviwescroll::-webkit-scrollbar-thumb {
    background: #ccc !important;
}

.btn-Org {
    background: #ff5252 !important;
    color: white !important;
}

.btn-Org:hover {
    background-color: #373737 !important;
    color: #ccc !important;
}

.btn-rg {
    color: #ff5252 !important;
    border: 1px solid #ff5252 !important;
    background: transparent !important;

}

.btn-rg:hover {
    background-color: #373737 !important;
    color: #ccc !important;
}

.btn-sm {
    min-width: 30px !important;
    height: 30px !important;
    font-size: 13px !important;
    padding: 10px 10px !important;

}

.CartPanel .MuiPaper-root {
    width: 400px;
    overflow-x: hidden !important;
}

#size-menu .MuiButtonBase-root {
    font-size: 11px !important;
}

.otpBox input {
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
    outline: none !important;
    border-radius: 4px;
}

.otpBox input:focus {
    border: 1px solid rgba(0, 0, 0, 0.7) !important;
}

.otpPage .container {
    height: 90vh;
    display: flex;
}

.scrol::-webkit-scrollbar {
    width: 5px !important;
}

.scrol::-webkit-scrollbar-thumb {
    background: #ccc !important;
}

#account-menu .MuiPaper-root {
    width: 200px;
    overflow-x: hidden !important;
}


.myAccountTabs li a {
    position: relative;
    display: block;
}

.myAccountTabs li a::before {
    content: '';
    width: 3px;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    background: #ff5252;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.myAccountTabs li a.isActive::before {
    height: 100%;
    opacity: 1;
    top: 0;
}

.myAccountTabs li a.isActive button svg {
    color: #ff5252;
}

button .MuiCircularProgress-root {
    width: 30px !important;
    height: 30px !important;
}

.react-international-phone-input {
    width: 100% !important;
}

.react-international-phone-country-selector {
    width: 55px !important;
}

.react-international-phone-input-container {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.customDialogPaper {
    width: 700px !important;
    max-width: 700px !important;
}
